.ck-editor__editable,
textarea {
    min-height: 150px;
}

.datatable {
    width: 100% !important;
}

.dataTables_length,
.dataTables_filter,
.dt-buttons {
    margin-bottom: 0.333em;
}

.dt-buttons .btn {
    margin-left: 0.333em;
    border-radius: 0;
}

.table.datatable {
    box-sizing: border-box;
    border-collapse: collapse;
}

table.dataTable thead th {
    border-bottom: 2px solid #dee2e6;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: 1px solid #dee2e6;
}

.select2 {
    max-width: 100%;
    width: 100%;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
    background-image: none;
}

.btn-group-xs > .btn,
.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.searchable-title {
    font-weight: bold;
}
.select2-container--open {
    z-index: 9999;
}
.searchable-fields {
    padding-left:5px;
}
.searchable-link {
    padding:0 5px 0 5px;
}
.searchable-link:hover   {
    cursor: pointer;
    background: #eaeaea;
}
.select2-results__option {
    padding-left: 0px;
    padding-right: 0px;
}
.row.tabelhed{
    background-color: white !important;
    margin: 0px 0px 10px 0px;
    padding: 25px 25px 25px 20px;
    border-radius: 12px;
}
.ad-btn{
    color: #fff;
    background-color: #696cff !important;
    border-color: #696cff !important;
    box-shadow: 0 0.125rem 0.25rem 0 rgb(118 125 185);
    height: 37px; 
    font-size: 13px;
}
.table th {
    font-size: 14px;
}
.table td {
    font-size: 14px !important;
}
#btnExport{
    margin-left: 5px;
    border:none;
}
.search-btn{
    height: 37px; 
    margin-right:6px;
    background-color: transparent;
        color: #696cff;
}
.redirect-icon{
    border: 1px solid #beb3b3; 
    padding:10px; 
    border-radius:6px
}
.paginatee{
    width: 75px !important;"
}
.C_nme{
    color: #697a8d;
}
.badge.badge-publish{
    margin: 1px;
   background-color: #42c712cc;
}
.badge.badge-hold{
    margin: 1px;
   background-color: #ffc107;
}
.listViewclr {
    background-color: #e7e7ff4a !important;
    margin: 0px 10px 15px;
}
.btn_back{
    margin-top:20px;
}